.footer{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  //background-color: #ff4081;
  //color: white;
  padding: 15px;
  border-top: 1px solid var(--ani-color-border);
  .section{
    padding: 0 10px;
  }
}

