
<div class="ngxa-layout footer" [ngClass]="{'ngxa-layout-opened-side-nav': sideNavStatus}">
  <div class="section">
    <a href="https://github.com/klodianshaba/angular-animations" target="_blank" >
      <img alt="GitHub Logo" src="./assets/images/GitHub-Mark-32px.png">
    </a>
    <a href="https://www.linkedin.com/in/klodian-shaba-536269153/" target="_blank" >
      <img alt="GitHub Logo" src="./assets/images/In-Blue-Logo.png.original.png">
    </a>
    <a href="https://stackoverflow.com/users/7201091/klodian" target="_blank" >
      <img alt="GitHub Logo" src="./assets/images/stack.PNG">
    </a>
    <a href="mailto:dev.klodian@gmail.com" target="_blank">
      <img alt="GitHub Logo" src="./assets/images/gmail.PNG">
    </a>
  </div>
  <div class="section">
    <span class="fw-bold fs-5 copyright">&copy; Klodian Shaba</span>
  </div>
</div>

