.footer{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--ngxa-color-active);
  padding: 15px 20px;
  .section{
    padding: 0 10px;
    .copyright{
      color: var(--ngxa-background);
    }
    a img {
      width: 25px;
      margin-right: 25px;
      &:hover{
        transform: scale(1.3);
        transition: 0.2s;
      }
    }
  }
}

@media (max-width: 430px) {
  .footer{
    .section{
      a img{
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 370px) {
  .footer{
    .section{
      a img{
        margin-right: 5px;
      }
    }
  }
}
