
mat-toolbar{
  position: sticky;
  width: 100%;
  z-index: 2 !important;
  //border-bottom: 1px solid var(--ani-color-border);
  background-color: var(--ani-background);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
}
.spacer {
  flex: 1 1 auto;
}
.title{
  cursor: pointer;
}
.dev-klodian{
  overflow: hidden;
}

@media (max-width: 445px){
  /* CSS stuff */
  .dev-klodian{
    display: none;
  }
}
@media (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
  }
}

