
<mat-toolbar color="primary">
  <button [@bounceInLeft] (click)="onClickSideBar()" *ngIf="layoutService.isDashboard(this.layout)" mat-icon-button class="example-icon" aria-label="icon-button with menu icon">
    <mat-icon >menu</mat-icon>
  </button>
  <span [@bounceInLeft]>NGXA</span>
  <span class="spacer"></span>
  <a [@bounceInRight] href="https://github.com/klodianshaba/angular-animations" target="_blank" mat-icon-button>
    <img alt="GitHub Logo" src="./assets/images/GitHub-Mark-Light-32px.png">
  </a>
</mat-toolbar>

