::ng-deep.ngxa-layout{
  width: 1200px;
  margin: auto;
  padding: 0 20px;
}
svg{
  width: 50px;
  margin-left: 20px;
  position: absolute;
}

.ngxa-container{
  width: 100%;
  transition: 0.3s;
}

.opened-side-nav{
  margin-left: 260px;
}

.Animations,.ngxa{
  cursor: pointer;
}

.animations{
  position: absolute;
  padding-left: 25px;
  margin-left: 40px;
  letter-spacing: 3px;
}

mat-toolbar{
  position: sticky;
  width: 100%;
  z-index: 2 !important;
  background-color: var(--ngxa-background);
  filter: drop-shadow(0 0 10px var(--ngxa-background));
  overflow: hidden;
  color: var(--ngxa-color-white);
  padding: 0;
}
.spacer {
  flex: 1 1 auto;
}
.title{
  cursor: pointer;
}
.dev-klodian{
  overflow: hidden;
}


@media (max-width: 1200px){
  /* CSS stuff */
  ::ng-deep.ngxa-layout{
    width: 100%;
  }
}
@media (max-width: 1460px){
  /* CSS stuff */
  ::ng-deep.ngxa-layout-opened-side-nav{
    width: 100%;
  }
}


@media (max-width: 445px){
  /* CSS stuff */
  .dev-klodian{
    display: none;
  }
}
@media (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
  }
}



