

<mat-toolbar color="accent">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-flat-button color="accent" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Animations
  </button>
  <button mat-raised-button color="accent" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Dashboard
  </button>
  <span class="example-spacer"></span>
  &copy; <span>dev.klodian</span>
</mat-toolbar>

