:root{
  --ngxa-background: #DD0330;
  --ngxa-background-hover: #DD0330;
  --ngxa-color-border: #fd6886;
  --ngxa-color-white: white;
  --ngxa-color-active: white;
  --ngxa-linear-background: linear-gradient(180.01deg, #DD0330 0.01%, #FFFFFF 90.37%), #FFFFFF;
}
$space:(
 margin: 15px,
 padding: 15px,
);

$size:(
  small:12px,
  middle:14px,
  large:16px
);



