@import "src/app/scss/variables";

.dashboard{
 height: 100%;
}
.header-image {
  background-size: cover;
  background-color: lightgray;
}
.back{
  margin: map-get($space , margin);
}

.angular-logo{
  margin: map-get($space, margin);
  img{
    transition: 0.3s;
    width: 200px;
  }
}
