
<app-header [layout]="Layouts.dashboard" (onToggleSideBar)="drawer.toggle()"></app-header>
<mat-sidenav-container class="example-container" autosize >
  <mat-sidenav  #drawer class="sidenav py-4" mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-description></app-description>
    <div class="card-content">
      <router-outlet></router-outlet>
      <div class="footer-content">
        <app-footer></app-footer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

