
<div class="sidebar-container custom-scrollbar">
  <div *ngFor="let group of groups; let i = index">
    <div class="group fw-bold">{{group.name.toUpperCase()}}</div>
    <div [id]="animation.active ? 'active-animation':''" [ngClass]="{'active': animation.active}" (click)="onClick(i,animation)" *ngFor="let animation of group.animations" matRipple class="item d-flex justify-content-between align-items-center">
      <div [@animations]="animation">
        <span>{{animation.triggerName}}</span>
      </div>
      <div [@bounceInLeft] class="icon-content">
        <mat-icon>navigate_next</mat-icon>
      </div>
    </div>
  </div>
</div>

