
.description-container{
  text-align: left;
  height: 100%;

  .title{
    color: var(--ngxa-color-white);
  }

  .implement-animations{
    color: var(--ngxa-background);
  }
}
.animate-css{
  color: var(--ngxa-background);
}
button{
  background: var(--ngxa-background);
  color: var(--ngxa-color-white);
  width: 200px;
}
@media (max-width: 1007px) {
  .easy-builder {
  }
}

@media (max-width: 850px) {
  .description-container{
    text-align: center;
  }
}
