
<div class="description-container d-flex flex-column align-items-center justify-content-center" [@listAnimationChild]="status">
  <div [@zoomIn]="status">
    <span class="fs-1 fw-bold" >Angular Animations Wrapper</span>
  </div>
  <div class="pt-5 pb-5" [@zoomIn]="status">
    <div class="easy-builder" [@swing]="{value:status, params:{timings:'800ms'}}">Easy Builder, Reusable and Dynamic Params</div>
    <span class="fs-5">This wrapper helps you to implement animations easy in your angular application</span>
  </div>
  <button [@backInDown]="status" (click)="animate()" mat-raised-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Animate It
  </button>
</div>
